[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell
[submodule "bundle/vterm"]
	path = bundle/vterm
	url = https://github.com/sollidsnake/vterm
